<section class="default-page internal-search-page">
  <app-title-page
    title="Búsquedas Internas"
    description="Explora los principales métodos de búsqueda dentro de estructuras de datos"
  />

  <!-- Buscador -->
  <app-input-search />

  <!-- Apartado de las cards -->
  <app-list-principal-cards>
    <app-principal-cards
      title="Secuencial / Lineal"
      description="Recorre los elementos de una estructura paso a paso hasta encontrar el valor deseado"
      link_page_to="/linear-search"
      icon="format_list_bulleted"/>

    <app-principal-cards
      title="Binaria"
      description="Divide el conjunto de datos ordenados en mitades sucesivas para localizar un elemento rápidamente"
      link_page_to="/binary-search"
      icon="filter_alt"/>

    <app-principal-cards
      title="Transformación de Clases"
      description="Convierte datos en estructuras adecuadas para optimizar la búsqueda y el acceso"
      link_page_to="/class-transformation-search"
      icon="transform"/>

    <app-principal-cards
      title="Búsqueda por Residuos"
      description="Localiza elementos utilizando operaciones de módulo para reducir el espacio de búsqueda"
      link_page_to="/residual-search"
      icon="functions"/>

    <app-principal-cards
      title="Búsqueda por Rangos"
      description="Encuentra todos los elementos dentro de un intervalo definido de valores"
      link_page_to="/range-search"
      icon="swap_vert"/>

  </app-list-principal-cards>
</section>

