<!--<section class="home-page">-->
<!--  <app-title-page-->
<!--    title="Ciencias de la computacion 2"-->
<!--    description="Explora los fundamentos y tecnicas de recuperacion de informacion como los tipos de busquedas"-->
<!--  />-->
<!--  &lt;!&ndash; Aqui ira un buscador&ndash;&gt;-->
<!--  <app-input-search-->

<!--  />-->
<!--  &lt;!&ndash; Apartado de las cards&ndash;&gt;-->
<!--  <app-list-principal-cards>-->
<!--    <app-principal-cards-->
<!--      title="Búsquedas Internas"-->
<!--      description="Indexación, modelos de recuperación y evaluación de sistemas en conjuntos de datos locales"-->
<!--      link_page_to="/internal-search"-->
<!--      icon="search"/>-->

<!--    <app-principal-cards-->
<!--      title="Búsquedas Externas"-->
<!--      description="Memoria auxiliar secundaria"-->
<!--      link_page_to="/external-search"-->
<!--      icon="storage"/>-->

<!--    <app-principal-cards-->
<!--      title="Grafos"-->
<!--      description="Todo lo relacionado a conjuntos"-->
<!--      link_page_to="/graph"-->
<!--      icon="bar_chart"/>-->
<!--  </app-list-principal-cards>-->
<!--</section>-->
<app-graph/>
a



