//simular:
:host {
  display: block;
  width: 100%;
}

.array-generator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  gap: 1em;
  padding: 1em; /* Posiblemente para cambiar*/
  color: #2d3748;
  min-height: 30em;
  box-sizing: border-box;
}

.container-items-modify-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "size-modify-container validate-input-container  search-item-container "
    "rest rest rest";
}

.size-modify-container {
  grid-area: size-modify-container;
}

.search-item-container {
  grid-area: search-item-container;
}

.validate-input {
  grid-area: validate-input-container;
}

.result {
  grid-area: rest;
}

.visualizer-wrapper {
  grid-area: list;
  max-width: 100%;

  img {
    width: 100%;
    object-fit: cover;
  }
}



