.body-linear-search {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;

}

@media (max-width: 1100px) {
  .body-linear-search {
    flex-direction: column;
  }

}
